<div class="col-md-6">
  <div class="form-group">
    <label>Apiary Name</label>
    <input type="text" class="form-control" placeholder="Apiary Name" ng-model="apiary.name">
  </div>
  <div class="form-group">
    <label>Year of commencing apiary</label>
    <input type="text" class="form-control" placeholder="Year" ng-model="apiary.year">
  </div>
  <div class="form-group">
    <label>Harvesting Months</label>
    <input type="text" class="form-control" placeholder="Year" ng-model="apiary.months">
  </div>
  <button class="btn btn-primary" ng-click="create()" type="button">Create</button>
</form>

<div class="inset">
  <md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'Yes'" ng-false-value="'No'" class="md-primary md-block">
    Switch 2 (md-primary): {{ data.cb2 }}
  </md-switch>
</div>
</div>
