<div class="col-md-12">
  <div class="col-md-6">
    <h2 class="subheader">Apiary: {{apiary.name}}</h2>
    <p>{{apiary.startYear | date }}</p>
    <p>Harvesting Months: <b>{{readableMonths(apiary.months)}}</b></p>
    <p>Coordinates: <b>{{apiary.lon + '; ' + apiary.lat}}</b></p>
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-6" ng-repeat="q in apiary.questions" style="border-radius:0px; border-bottom: 1px solid gray; height: 75px">
    <div class="col-md-8">
      <p style="margin:15px">{{q.string}}</p>
    </div>
    <div class="col-md-4">
      <md-switch ng-disabled="true" ng-model="q.value" ng-true-value="'true'" ng-false-value="'false'" class="md-primary md-block">
        <b>{{readableTruthy(q.value)}}</b>
      </md-switch>
    </div>
  </div>
</div>
