<div class="col-md-12">
  <h2>Apiary: {{apiary.name}}</h2>
  <p>{{apiary.startYear | date }}</p>
  <p>Harvesting Months: <b>{{readableMonths(apiary.months)}}</b></p>
  <p>Coordinates: <b>{{apiary.lon + '; ' + apiary.lat}}</b></p>
  <md-tabs md-selected="selected" md-border-bottom md-autoselect md-dynamic-height ng-init="selected=0">
    <md-tab label="Questions" ng-click="selected=0">
      <div style="padding: 25px; text-align: center;">
        <div class="col-md-12">
          <div class="col-md-6" ng-repeat="q in apiary.questions" style="border-radius:0px; border-bottom: 1px solid gray; height: 75px">
            <div class="col-md-8">
              <p style="margin:15px">{{q.string}}</p>
            </div>
            <div class="col-md-4">
              <md-switch ng-disabled="true" ng-model="q.value" ng-true-value="'true'" ng-false-value="'false'" class="md-primary md-block">
                <b>{{readableTruthy(q.value)}}</b>
              </md-switch>
            </div>
          </div>
        </div>
      </div>
    </md-tab>
    <md-tab label="Hives" ng-click="selected=1">
      <div class="col-md-12" style="padding: 25px; text-align: center;">
        <md-button class="col-md-4 md-whiteframe-3dp" ng-repeat="hive in hives" style="padding:25px;margin:25px" ui-sref="main.apiary.hive({hive:'hive.id'})">
          {{'Hive: ' + hive.givenId}}<br>
          {{hive.installationDate | date}}
        </md-button>
      </div>
    </md-tab>
  </md-tabs>
</div>
