<div class="col-md-12">
  <div class="col-md-6">
    <h2>Hive: {{hive.givenId}}</h2>
    <p>{{hive.date | date }}</p>
    <p>Coordinates: <b>{{hive.lon + '; ' + hive.lat}}</b></p>
    <p>Hive type: <b>{{hiveTypes[hive.type]}}</b></p>
    <p>Sun exposure: <b>{{hiveExposure[hive.exposure]}}</b></p>
    <md-tabs md-selected="selected" md-border-bottom md-autoselect md-dynamic-height ng-init="selected=0">
      <md-tab label="Inspections" ng-click="selected=0">
        <div style="padding: 25px; text-align: center;">
          Inspections
        </div>
      </md-tab>
      <md-tab label="Harvests" ng-click="selected=1">
        <div style="padding: 25px; text-align: center;">
          Harvests
        </div>
      </md-tab>
    </md-tabs>
</div>
