<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-pagelines"></i> Apiary</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-show="currentUser">
        <li class="dropdown">
          <a type="button" data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="false">Create <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="main.apiary">Apiary</a></li>
            <li><a ui-sref="main.hive">Hive</a></li>
            <li><a ui-sref="main.inspection">Inspection</a></li>
            <li><a ui-sref="main.harvest">Harvest</a></li>
          </ul>
        </li>
        <li><a ui-sref="main.apiaries">Apiaries</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="login" ng-hide="currentUser">Login</a></li>
        <li><a ui-sref="register" ng-hide="currentUser">Register</a></li>
        <li><a ng-show="currentUser">{{currentUser.username}}</a></li>
        <li><a ng-show="currentUser" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<md-toolbar>
  <div class="md-toolbar-tools">
    <div ng-if="currentUser">
      <md-button class="md-raised" ui-sref="main.apiary_create" style="color:black">
        New Apiary
      </md-button>
      <md-button class="md-raised" ui-sref="main.apiary.hive_create" style="color:black" ng-show="isApiary()">
        New Hive
      </md-button>
      <span ng-show="isHive()">
        <md-button class="md-raised" ui-sref="main.apiary.hive.inspection_create" style="color:black">
          New Inspection
        </md-button>
        <!-- <md-button class="md-raised" ui-sref="main.apiary.hive.harvest_create" style="color:black">
          New Harvest
        </md-button> -->
      </span>
    </div>
    <span flex></span>
    <md-button class="md-raised" ui-sref="login" ng-hide="currentUser">Login</md-button>
    <md-button class="md-raised" ui-sref="register" ng-hide="currentUser">Register</md-button>
    <md-button ng-show="currentUser">{{currentUser.username}}</md-button>
    <md-button ng-show="currentUser" ng-click="logout()">Logout</md-button>
  </div>
</md-toolbar>
